/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
:root{
	--red:#da3654;
	--projects:#ffa2006e;
	--blog:#0085ff6e;
	--talk:#ff00ff6e;
	--about:#3cff006e;

	--article-width:800px;
}
:root body.dark{
	--text: 238, 238, 238;
	--bg: 16, 8, 24;
}
:root body.light{
	--text: 16, 8, 24;
	--bg: 238, 238, 238;
}

/* https://fonts.google.com/specimen/Open+Sans */
@font-face {
	font-family: 'Sans';
	font-style: normal;
	font-weight: 300;
	font-stretch: 100%;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4gaVI.woff2) format('woff2');
}
@font-face {
	font-family: 'Sans';
	font-style: normal;
	font-weight: 600;
	font-stretch: 100%;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
}

html{scroll-behavior:smooth}
a{
	transition:color 0.2s;
	box-sizing:border-box;
}
body {
	font-size:18px;
	font-family: Sans, Verdana, sans-serif;
	margin:0;padding:0;
	overflow-y: scroll;
	text-align: left;
	background-color: rgb(var(--bg));
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: rgb(var(--text));
	display:flex;
	flex-direction:column;
}
a {
	color: var(--red);
	text-decoration: none;
}
a:hover{
	color: inherit;
}
hr.dotted{
	margin:50px 0 40px 0;
	border:none;
	--colors-lowContrast: black;
	--color: hsl(0 0% 43.9%);
	--offset: 0;
	--height: 1px;
	--width: 5px;
	--fade-stop: 60%;
	width: calc(100% + var(--offset));
	left: calc(var(--offset) / 2 * -1);
	height: var(--height);
	background: linear-gradient(to right,var(--color),var(--color) 50%,transparent 0,transparent);
	background-size: var(--width) var(--height);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
	-webkit-mask: linear-gradient(to left,var(--colors-lowContrast) var(--fade-stop),transparent),linear-gradient(to right,var(--colors-lowContrast) var(--fade-stop),transparent),linear-gradient(#000,#000);
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--bg));
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}
figure{margin:0}
figure>figcaption {
	text-align: center;
	font-size:0.7rem;
	opacity:0.7;
}
ul{list-style:none;margin:0;padding:0}

.content ul{list-style:disc;margin-left:20px}

.container{margin:0 auto;max-width:1160px}

body>header{padding:20px 0}
body>header h2{margin:0}
body>header h2 a{font-size:1.4rem;line-height:1.4rem;color:inherit;text-decoration:none}
body>header>div{display:flex;align-items:center}
.menu{flex-grow:1}
.menu ul{display:flex;justify-content:center; gap:30px}
#menubtn{display:none}
.menu a{display:inline-block;padding:10px 20px;color:inherit;text-decoration:none;text-wrap:nowrap}
.menu a:hover{color:var(--red)}
.menu a:after{background-color: var(--red);}
button.theme-mode{background:none;border:0px;margin:0;padding:10px;width:44px;height:44px;cursor:pointer;transition:.2s;overflow:hidden}
button.theme-mode:hover{transform:scale(.8)}
.dark #darkIcon, .light #lightIcon{width:0;height:0;padding:0;opacity:0}
button.theme-mode svg{fill:rgb(var(--text))}

/* Animated gradient background */
.animated-bg{
	position:absolute;
	top:0;left:0;
	width:100%; height:438px;
	clip-path:polygon(0 0,100% 0,100% 80%,0 100%);
	z-index:-1;
}
.animated-bg canvas {
	width:100%; height:100%;
}

.home>header h2, .home .menu ul, .home header svg{
	color:#000;
	fill:#000 !important;
	stroke:#000 !important;
}
.home>header h2 a:after{
	background-color:#000;
}
.intro h1, .intro p{
	mix-blend-mode:difference;
	color:#fff;
}


main{margin:0;flex:1 1 auto}

.intro h1{font-size:2.8rem;margin-bottom:40px}
.intro p{font-size:1.3rem}
.intro{display:flex;flex-direction:column;margin:60px 0 0 0;row-gap:40px}
.intro .me{display:flex;gap:40px}
.intro .me>*{flex-basis:50%}
.intro figure img{width:100%;object-fit:cover;border-radius:60px;border-bottom-left-radius:0;aspect-ratio:6/5}
.intro .stacks{display:flex;gap:10px;flex-wrap:wrap; align-items: center; justify-content: center;}

.article-toc{
	float:right;
	width:300px;
	position:sticky;top:40px;
	font-size:medium;
	line-height: normal;
}
.article-toc a{display:inline-block; padding:4px 0}
.article-toc a::after{display:none}
.article-toc a.active{text-decoration:underline}
.article-toc ul ul{margin-left:20px}
.article-toc h3{margin-top:0;}
.article-toc>div{position:sticky;top:0}
.article-toc .links{
	display: flex;
	gap: 10px;
	margin-top:15px; padding-top:15px;
	border-top: 1px solid rgba(var(--text), .1);
	justify-content:left;
}
.article-toc .links a{
	display: flex;
	gap:5px;
	flex-direction: column;
	align-items: center;
	padding:10px;
	font-size: 0.9em;
	text-decoration: none;
	transition: all .2s ease-in-out;
	opacity: 0.7;
	border-radius: 10px;
	color:rgb(var(--text))
}
.article-toc .links a:hover{
	background-color: rgba(var(--text), .08);
	
	opacity: 1;
}
.article-toc .links svg{
	width: 20px;
	height: 20px;
	fill:rgb(var(--text));
	vertical-align: middle;
}
.article-content{
	max-width:800px;
}
.article-header{
	clip-path:polygon(0 0,100% 0,100% 80%,0 100%);
	min-height:300px;
	padding-bottom:50px;
	margin-bottom:40px;
	display:flex;
	flex-direction:row;
	justify-content:center; align-items:center;
	text-align:center;
}
.article-header>div{flex:1 1 auto}
.article-title{
	max-width:var(--article-width);
	display:flex;
	flex-direction:column;
	text-align:left;
}
.article-title h2{font-size:1.5rem;margin:0;opacity:.8}
.article-title h1{font-size:2.5rem;margin:0}
.article-title time{font-size:.75rem;opacity:.7}
.page-title{
	text-align:center;
}
.page-title h1{font-size:2.5rem;margin:0}
.page-title h2{font-size:1.5rem;margin:0;opacity:.8; font-weight: 300;}
.article-content{
	max-width:var(--article-width);
}

pre.astro-code{
	background-color:#273343;
}

.projects>header{background-color:var(--projects)}
.projects .article-header{
	background-color:var(--projects);
}

.blog>header{background-color:var(--blog)}
.blog .article-header{
	background-color:var(--blog);
}

.talk>header{background-color:var(--talk)}
.talk .article-header{
	background-color:var(--talk);
}

.about>header{background-color:var(--about)}
.about .article-header{
	background-color:var(--about);
}

a{position:relative}
a:after{
	position:absolute;
	content:'';
	bottom:-1px;
	left:0;
	width:100%;
	height:1px;
	background-color:rgb(var(--text));
	transition:transform .2s ease-out;
	transform: scaleX(0);
	transform-origin:right;
}
a:hover:after{
	transform: scaleX(1);
	transform-origin:left;
}

.no-scroll{overflow:hidden}

footer{
	text-align:center;
	padding:60px 0 10px 0;
}
footer a:after{
	display:none;
}
footer>div{
	border-top:rgba(var(--text), .2) solid 1px;
	padding:10px 0 40px 0;
	display:flex;justify-content:space-between
}
footer p{font-size:.85rem;margin:0}
footer svg{
	width:24px; height:24px;
	fill:rgb(var(--text), .5);
}
footer svg:hover{
	fill:rgb(var(--text));
}
@media screen and (max-width:1600px) {
	html{font-size:120%}
}

@media screen and (max-width:1200px) {
	.container{margin:0 20px}
	html{font-size:110%}
	.article-toc{display:none}
}

@media screen and (max-width:1024px) {
	html{font-size:100%}
}

@media screen and (max-width: 768px) {
	body>header h2 a{display:block;overflow:hidden;height:22px}
	.menu ul{gap:0}
	.intro .me{gap:20px; flex-direction:column-reverse}
	.intro h1{margin:20px 0}
	.intro .stacks{gap:5px}
	.intro .stacks img{width:50px;height:50px}
	footer>div{display:flex;flex-direction:column;}
	.menu a{padding:10px 15px}
}

@media screen and (max-width: 425px) {
	html{font-size:90%}
	.menu ul{flex-direction:column;width:100%;position:absolute;left:0;top:85px;height:0;overflow:hidden;background-color:rgb(var(--bg));z-index:1; box-sizing: border-box;justify-content:center;opacity:0;transition:.3s ease-out}
	.home .menu ul{
		mix-blend-mode:normal;
		color:var(--color);
	}
	
	.menu li{text-align:center}
	.menu li a{display:block;margin:5px;padding:10px 20px;font-size:1.5rem}
	#menubtn{display:block;float:right;padding:10px;width:44px;height:44px}
	#menubtn svg:last-child{display:none}

	body>header.open #menubtn svg:first-child{display:none}
	body>header.open #menubtn svg:last-child{display:block}
	body>header.open ul{height:calc(100vh - 85px);opacity:1}
}


