/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
:root body.dark{
	--text: #ffffffcc;
	--bg: #100818;
}
:root body.light{
	--text: #100818;
	--bg: #eee;
}

a{
	transition:color 0.2s;
	box-sizing:border-box;
}
body {
	font-family: Verdana, sans-serif;
	margin: auto;
	padding: 20px;
	text-align: left;
	background-color: var(--bg);
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: var(--text);
}
a {
	color: #da3654;
	text-decoration: none;
}
a:hover{
	color: inherit;
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: var(--bg);
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}
figure>figcaption {
	font-size:0.7rem;
	opacity:0.5;
}
ul{list-style:none;margin:0;padding:0}

.content ul{list-style:disc;margin-left:20px}

header>div, main>div, footer>div{width:1200px;margin:0 auto}

header{padding:5px 0}
header h2{margin:0}
header h2 a{font-size:2rem;font-weight:100;color:inherit;text-decoration:none}
header>div{display:flex}
nav{flex-grow:1}
nav ul{display:flex;justify-content:center}
nav a{display:inline-block;padding:10px 30px;color:inherit;text-decoration:none}
nav a:hover{color:#da3654}
nav a:after{background-color: #da3654;}
.theme-mode button{background:none;border:0px;margin:0;padding:10px;width:44px;height:44px;cursor:pointer;transition:.2s;overflow:hidden}
.theme-mode button:hover{transform:scale(.8)}
.dark #darkIcon, .light #lightIcon{width:0;height:0;padding:0;opacity:0}
.theme-mode svg{fill:var(--text)}


main{margin:30px 0;min-height:60vh}

.home{}

.intro h1{font-size:3.5rem;margin-bottom:60px;}
.intro p{font-size:1.3rem}
.intro{display:flex;height:70vh;min-height:500px;gap:40px}
.intro>*{flex-basis:100%}
.intro figure img{width:100%;object-fit:cover;border-radius:60px;border-bottom-left-radius:0;aspect-ratio:6/5}

a{position:relative}
a:after{
	position:absolute;
	content:'';
	bottom:-2px;
	left:0;
	width:100%;
	height:2px;
	background-color:var(--text);
	transition:transform .2s ease-out;
	transform: scaleX(0);
	transform-origin:right;
}
a:hover:after{
	transform-origin:left;
	transform: scaleX(1);
}
