---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_MAIN_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body class="dark">
	<Header title={SITE_MAIN_TITLE} />
	<main>
		<div class="container">
			<h1>Contact Us Form!</h1>
			<p>Send your message to me r . zahedi @ gmail . com and I will get back to you as soon as possible.</p>
			<p>You can find me on <a href="https://twitter.com/rezawm" target="_blank">Twitter</a>, <a href="https://github.com/rezahedi" target="_blank">GitHub</a> or <a href="https://linkedin.com/in/rezahedi" target="_blank">LinkedIn</a></p>
		</div>
	</main>
	<Footer />
</body>
</html>
