---
import { Github, LinkedIn, Twitter } from "./icons";

const today = new Date();
---

<footer>
  <div class="container">
    <div>
      <a href="https://twitter.com/rezahedi_" aria-label="Reza on Twitter" target="_blank">
        <Twitter />
      </a>
      <a href="https://github.com/rezahedi" aria-label="Reza on Github" target="_blank">
        <Github />
      </a>
      <a href="https://linkedin.com/in/rezahedi" aria-label="Reza on LinkedIn" target="_blank">
        <LinkedIn />
      </a>
    </div>
    <p>
      Made by <a href="https://astro.build">Astro</a>
    </p>
  </div>
</footer>
