---
const today = new Date();
---

<footer>
  <div class="container">
    <p>
      Reza on <a href="https://twitter.com/rezahedi_" target="_blank">Twitter</a
      >,
      <a href="https://github.com/rezahedi" target="_blank">GitHub</a> and
      <a href="https://linkedin.com/in/rezahedi" target="_blank">LinkedIn</a>
    </p>
    <p>
      Made by <a href="https://astro.build">Astro</a>, hosted on <a
        href="https://vercel.com">Vercel</a
      >
    </p>
  </div>
</footer>
