---
const today = new Date();
---

<footer>
	<div>
		&copy; {today.getFullYear()} Happy Coding, Open sourced on <a href="https://github.com/rezawm/rezahedi.dev">GitHub</a>.
	</div>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
