---
const today = new Date();
---

<footer>
	<div class="container">
		<p>Reza on <a href="https://twitter.com/rezawm" target="_blank">Twitter</a>, 
			<a href="https://github.com/rezahedi" target="_blank">GitHub</a>,
			<a href="https://linkedin.com/in/rezahedi" target="_blank">LinkedIn</a> and
			<a href="https://stackoverflow.com/users/2038883/reza" target="_blank">StackOverflow</a></p>
		<p>Made by <a href="https://astro.build">Astro</a>, hosted on <a href="https://vercel.com">Vercel</a>, Open sourced on <a href="https://github.com/rezahedi/rezahedi.dev">GitHub</a>.</p>
	</div>
</footer>
